@use 'foundations/_variables';

.main {
  &__headingLg {
    font-size: map-get(variables.$fontSizes, 2xl);
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;

    &__item {
      font-size: map-get(variables.$fontSizes, xl);
      padding: 1rem 0;

      &__date {
        display: block;
        font-size: map-get(variables.$fontSizes, lg);
        color: variables.$colorDate;
      }
    }
  }
}

