@use 'foundations/_variables';

.about {
  &__headingLg {
    font-size: map-get(variables.$fontSizes, 2xl);
  }

  &__date {
    display: block;
    font-size: map-get(variables.$fontSizes, lg);
    color: variables.$colorDate;
  }

  &__profile {
    padding: 1rem;
    text-align: center;

    &__image {
      border-radius: 9999px;
    }
  }

  &__name {
    font-size: map-get(variables.$fontSizes, lg);
  }

  &__snsList {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 50%;
    padding: 1rem;
    margin-right: auto;
    margin-left: auto;
  }
}

