@use 'foundations/_variables';

.read {
  &__headingLg {
    font-size: map-get(variables.$fontSizes, 2xl);
  }

  &__date {
    display: block;
    font-size: map-get(variables.$fontSizes, lg);
    color: variables.$colorDate;
  }
}

